{% load static %}
{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{% static 'img/logo.png' %}">
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/login_register.css' %}">
    <title>Iniciar Sesión</title>
</head>

<body>
    <div class="login-container">
        <h2 class="login-title">Bienvenido</h2>
        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" class="btn btn-login">Iniciar Sesión</button>
        </form>
        {% if messages %}
            {% bootstrap_messages %}
        {% endif %}
        <div class="login-links">
            <a href="{% url 'Register' %}">¿No tienes Cuenta? Regístrate</a>
        </div>
    </div>

    {% bootstrap_javascript %}
</body>

</html>
