<h1>Lista de Proveedores</h1>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#AgregarProveedorModal">
    Agregar Proveedor
</button>

<table>
    <thead>
        <tr>
            <th>Razón Social</th>
            <th>CUIT</th>
            <th>Teléfono</th>
            <th>Email</th>
            <th>Dirección</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for proveedor in proveedores %}
        <tr>
            <td>{{ proveedor.RazonSocial }}</td>
            <td>{{ proveedor.CUIT }}</td>
            <td>{{ proveedor.Tel }}</td>
            <td>{{ proveedor.Email }}</td>
            <td>{{ proveedor.Direccion }}</td>
            <td>
                <button data-id="{{ proveedor.id }}" class="btn btn-warning" data-toggle="modal" data-target="#EditarProveedorModal">Editar</button>
                <form method="POST" action="{% url 'DeleteProveedor' %}" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="id_proveedor_eliminar" value="{{ proveedor.id }}">
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Modal para agregar proveedor -->
<div id="AgregarProveedorModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Agregar Proveedor</h5>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'AddProveedor' %}">
                    {% csrf_token %}
                    {{ form_personal.as_p }}
                    <button type="submit" class="btn btn-success">Agregar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para editar proveedor -->
<div id="EditarProveedorModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Proveedor</h5>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'EditProveedor' %}">
                    {% csrf_token %}
                    <input type="hidden" id="id_proveedor_editar" name="id_proveedor_editar">
                    {{ form_editar.as_p }}
                    <button type="submit" class="btn btn-success">Guardar Cambios</button>
                </form>
            </div>
        </div>
    </div>
</div>